/USM_Builder/.vs
/USM_Builder/USM_builder/bin
/USM_Builder/USM_builder/obj
/USM_Builder/USM_builder/Properties/launchSettings.json
USM_Builder/USM_builder/Properties/PublishProfiles/Publish-Release.pubxml.user
srt
.usm_build — devyatyi9.bat
/USM_Builder/USM_builder/USM_builder.csproj.user
.vs
logs